In [1]:
import pandas as pd

In [2]:
csv_path = "Data/processed_data.csv"
proc_df = pd.read_csv(csv_path)
proc_df.head()

,CITY,LAT,LONG,OFFENSE_CODE_GROUP,DESCRIPTION,DATE_OCCURED
0,Austin,NaN,NaN,Homicide: Murder & Nonnegligent Manslaughter,CAPITAL MURDER,2014-09-12
1,Austin,NaN,NaN,Murder,CAPITAL MURDER,2016-03-04
2,Austin,NaN,NaN,Murder,CAPITAL MURDER,2016-10-18
3,Austin,NaN,NaN,Murder,CAPITAL MURDER,2016-08-09
4,Austin,NaN,NaN,Murder,CAPITAL MURDER,2016-11-02

In [3]:
csv_path = "Data/^GSPC.csv"
stock_df = pd.read_csv(csv_path)
stock_df.head()

         Date       Open       High        Low      Close  Adj Close   Volume
0  1958-12-01  52.689999  52.689999  52.689999  52.689999  52.689999  3800000
1  1958-12-02  52.459999  52.459999  52.459999  52.459999  52.459999  3320000
2  1958-12-03  52.529999  52.529999  52.529999  52.529999  52.529999  3460000
3  1958-12-04  52.549999  52.549999  52.549999  52.549999  52.549999  3630000
4  1958-12-05  52.459999  52.459999  52.459999  52.459999  52.459999  3360000

In [10]:
df3 = pd.merge(proc_df,stock_df,left_on="CITY",right_on="Date")
df3.head

<bound method NDFrame.head of Empty DataFrame
Columns: [CITY, LAT, LONG, OFFENSE_CODE_GROUP, DESCRIPTION, DATE_OCCURED, Date, Open, High, Low, Close, Adj Close, Volume]
Index: []>